body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

.nav-link {
    color: #007BFF;
    font-weight: bold;
}

.nav-link:hover {
    color: #0056b3;
}

.container {
    margin-top: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 10px 0;
}

footer a {
    margin: 0 10px;
}

footer img.social-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}